
<h1>Contact</h1>
<p> 
	<div>Sinan NAR</div>
	<a href="https://twitter.com/snn_nr">Twitter</a>  </br>
	<a href="https://plus.google.com/+SinanNAR">Google+</a>  </br>
</p>
<p>	
	<div>Burak Koray KÖSE</div>
	<a href="https://twitter.com/burakkoray">Twitter</a>  </br>
	<a href="https://plus.google.com/+burakkoraykose">Google+</a>  </br>
</p>

<p> </p></br>
<p> </p></br>
<p> </p></br>

And some special thanx goes to <b>Furkan TEKTAS</b> for UI design<br>

There is another hero named <b>Sercan GEDIK</b> who explain Rails and help about it to us<br>