
<h1>Help</h1>
<p>
	This is the application for storing links
	<a href="https://github.com/sinannar/sample_app">Codes</a> are available here
	<p> </p></br>
	<p> </p></br>
	And some special thanx go to <a href="https://github.com/sinannar/sample_app">Furkan TEKTAS</a> for UI design<br>
	<p> </p></br>
	There are some other heroes named <a href="https://github.com/sinannar/sample_app">Sercan GEDIK</a> who explain MVC and help about it to us<br>

</p>

