<% if signed_in? %>
	<%= render 'shared/feed' %>



<%else%>

<div id="ww">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 centered">
				<h1>LinkRepo!</h1>
				<h2>Welcome to Link Repo</h2>
				<p>This is the application for storing links
			<a href="https://github.com/sinannar/sample_app">Codes</a> are available here</p>
				<p>	
					If you do not have account yet!</br>
					<%= link_to "Sign up now!",signup_path,:class => "signup_button round" %></br>
				</p>
				<p>	
					Or you have already one...</br>
					<%= link_to "Sign in" , signin_path %>
				</p>
				<h2>What about pricing?</h2>
				<p>It's totally free!</p>
			</div><!-- /col-lg-8 -->
		</div><!-- /row -->
	</div> <!-- /container -->
</div><!-- /ww -->	
<%end%>
