
<% if (feed_item_counter )  % 3  == 0  %>
<div class="row mt centered">   
<%end%>

<div class="col-lg-4 link-col">

	<a class="zoom blue" href="http://<%= feed_item.content %>" target="_blank">
		<span class="glyphicon glyphicon-link zoom link-icon"></span>
		<img class="img-responsive" src="http://api.webthumbnail.org?width=360&height=270&screen=1650&url=http://<%= feed_item.content %>" alt="" />
		<div class="tags">
			<% if !microposts_helper_categories(feed_item.tag).nil?  %>
				<% microposts_helper_categories(feed_item.tag).each do |n|%>
					<span class="tag"><%= n %></span>
				<%end%>
			<%end%>
		</div>
		<p class="title"><%= feed_item.content %></p>
	</a>
</div>

<% if (feed_item_counter + 1 ) % 3 == 0  %>
</div><!-- /row -->
<%end%>